/***************************/
 /** Reglas para etiquetas **/
 /***************************/

 body {
    margin: 0px auto;
    background-image: url("/img/congruent_outline.png");
 }
 a {
    text-decoration: none;
    color: white;
 }
 a:hover {
    color: black;
}
 /***************************/
 /** Reglas para clases **/
 /***************************/
img {
    padding: 10px 60px;
    border-style: transparent;
}
 .contenedor {
     overflow: hidden;
 }
 .cabecera {
     margin-top: 15px;
     margin-bottom: 10px;
 }
 .menu-navegacion {
    
    /*box-shadow:  0px 1px 10px 5px rgba(201,212,208,0.59);*/
    border-style: none;
    position: absolute;
    width: 100%;
    top: 0px; 
    left: 0px;
 }
 .menu-navegacion ul {
     list-style-type: none;
     margin: 0px auto;
 }
 .menu-navegacion ul li {
    padding: 5px;
    display: block;
}
.titulo {
    font-size: 35px;
    padding: 5px;
}
.nav {
    font-size: 20px;
    margin-left: 50px;
    color: white;
}
 .cuerpo-principal {
    background-color: rgb(37,46,43);
    box-shadow: inset 10px 14px 35px 0px rgba(85,104,102);
    border-radius: 10px;
    width: 960px;
    margin: 150px auto 0px auto;
    overflow: hidden;
    padding: 10px;
    margin-top: 220px;
   margin-bottom: 20px;
  }
  .cuerpo-principal p {
    color: white;
  }
  termino dt {
      color: aliceblue;
  }
  definicion {
      color: aliceblue;
  }

